$main-color: #4A4A4A;
$color-blue: #2196F3;
$color-gray: #A0B0B9;
$color-checkbox: #9ABBCE;


$font-size-sm: 1.2rem;
$font-size-md: 1.3rem;
$font-size-lg: 1.4rem;
$font-size-extra: 2.4rem;


$line-height-sm: 1.2rem;
$line-height-md: 1.8rem;
$line-height-lg: 2rem;
$line-height-extra: 2.4rem;